#About{
    font-size: larger;
    background-color: brown;
    font-family: 'Algerian';
    
}

#p1{
    font-weight: bolder;
    font-family: 'Algerian';
    background-color: chartreuse;
    text-align: justify;
    
}

#marquee{
    font-size: xx-large;
    font-family: fantasy;
    color: red;
}

img{
    height: fit-content;
    width: fit-content;
    
    
}
body{
    background-color: chartreuse;


}

.animated {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: move 2s ease-in-out infinite alternate;
    align-content: center; 
}
@keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(100px); } 
}
