#Boredom{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium';
    font-style: inherit;
    color: coral;
    
}

#p1{
    color: magenta;
}

#p2{
    color: black;
    font-family:'Chiller';
}