<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %} ">
    <marquee id="marquee">WELCOME</marquee>
</head>

<body bgcolor="cream">
<div id="About">
        <h1>ABOUT</h1>
<hr>
        <p id="p1">Lets see what this is all About!!</p>
        <p id="p1">Are you a dog lover ?</p>
        <p>Here are some breeds that you may like...</p>
        <img src="{{dog}}" alt="Various dogs photos">
         <p>{{dog}}</p>

        </div>
</body>

</html>