<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANDOM FACTS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'randomfacts.css' %}">
</head>
<body>
    <div id="RandomFacts">
        <h1 id="h1">What are random facts?</h1>
        <p id="p1">"Random facts" typically refer to interesting pieces of information or 
            trivia that may not be directly related but are intriguing or surprising.</p>
        <h2 id="h2">Did you Know??</h2>

    </div>
</body>
</html>